div#cabecalho {
  text-align: center;
  background: white;
  margin: 0px 10px 20px 15.5%;
  max-height: 150px;
  border-radius: 6px; }
  div#cabecalho #topo {
    padding: 60px 0px 60px 0px; }
  div#cabecalho img {
    padding-top: 30px;
    padding-bottom: 30px; }

body {
  margin: 0;
  background-color: #f3f3f2;
  font-family: Arial;
  color: #101213; }

#wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%; }

div#menu ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background: #00ac5b; }
  div#menu ul .menu-cabecalho {
    background-color: #004625;
    margin-bottom: 50px;
    padding: 20px;
    max-height: 150px; }
  div#menu ul li {
    margin-bottom: 10px;
    left: 0; }
    div#menu ul li a {
      display: block;
      color: white;
      padding: 8px 0 8px 16px;
      text-decoration: none; }
  div#menu ul a:hover {
    background: #004625; }
  div#menu ul a.active {
    background: #006033; }

#wrapper-page {
  margin-left: 15%;
  left: 15%; }
  #wrapper-page #meio {
    width: 95%;
    margin: 0px 0px 0px 10px;
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 6px; }

hr {
  display: none;
  border: 0.1px solid rgba(134, 144, 108, 0.42);
  width: 80%;
  margin-top: 30px;
  margin-bottom: 10px; }

div#boasVindas {
  text-align: left;
  margin-left: 255px;
  border-style: solid;
  width: 50%; }

#rodape {
  margin-top: 100px;
  margin-left: 15%;
  left: 15%;
  padding: 5px;
  clear: both;
  background-color: white;
  text-align: center; }

#corpo {
  background-color: white;
  color: black;
  text-align: center;
  padding: 25px; }

.mensagem {
  /*@include msg($bkg);*/ }

.erro {
  /*background-color: $corErro;*/
  padding: 7px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  border-color: #000;
  background: #ff744a; }

.sucesso {
  /*background-color: #27db1c;*/
  padding: 7px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  border-color: #000;
  background: #27db1c; }

/* Elementos Formularios */
form label {
  font-weight: bold; }
form input[type="text"] {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 0.5px solid gray;
  margin: 10px 0px 10px 0px;
  font-size: 17px;
  padding: 10px;
  border-color: rgba(134, 144, 108, 0.42); }
  form input[type="text"]:focus {
    border-color: #dffff0; }
form select {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 0.5px solid gray;
  margin: 10px 0px 10px 0px;
  font-size: 17px;
  padding: 10px;
  border-color: rgba(134, 144, 108, 0.42);
  background: rgba(207, 217, 158, 0.1);
  font-family: cursive;
  padding: 0px 0px 0px 10px; }
  form select:focus {
    border-color: #dffff0; }

/* Fim Elementos Formularios */
/* Botoes */
.btn-con {
  min-width: 90px;
  min-height: 30px;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4.1px;
  border: none;
  font-size: 16px;
  color: white;
  background: #2176ac;
  margin-bottom: 40px; }
  .btn-con:hover {
    background: #1d6797; }
  .btn-con:active {
    background: #154a6c; }

.btn-inc {
  min-width: 90px;
  min-height: 30px;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4.1px;
  border: none;
  font-size: 16px;
  color: white;
  background: #68D47B; }
  .btn-inc:hover {
    background: #54ce6a; }
  .btn-inc:active {
    background: #35ba4d; }

.btn-exc {
  min-width: 90px;
  min-height: 30px;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4.1px;
  border: none;
  font-size: 16px;
  color: white;
  background: #e33500; }
  .btn-exc:hover {
    background: #ca2f00; }
  .btn-exc:active {
    background: #972300; }

.btn-padrao {
  min-width: 90px;
  min-height: 30px;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4.1px;
  border: none;
  font-size: 16px;
  color: black;
  background: white;
  border: 0.1px solid #666666; }
  .btn-padrao:hover {
    background: #f2f2f2; }
  .btn-padrao:active {
    background: #d9d9d9; }

/* Fim Botoes */

/*# sourceMappingURL=EvCSS.css.map */
